# Use this one for mapping drives
Host ssh.fsl.byu.edu
    ControlMaster auto
    ControlPath ~/.ssh/master-%r@%h:%p.socket
    ServerAliveInterval 120

#Host rhel7ssh.fsl.byu.edu
#     ControlMaster auto
#     ControlPath ~/.ssh/master-%r@%h:%p.socket
#     ServerAliveInterval 120

Host kant.local
    ControlMaster auto
    ControlPath ~/.ssh/master-%r@%h:%p.socket
    ServerAliveInterval 120

